.adultsField{
    left: 4px;
}

.alertInfo{
    top: 70px;
}

.alertParty{
    top: -40px
}

.contentsTwo{
    background-image: linear-gradient(to bottom right, rgb(128, 0, 128, 0.5), rgb(255,192,203, 0.5));
    position: relative;
    top: 50px;
    height: 220px;
    border-radius: 50px;
}

.guestMembersForm{
    top: 20px;
}

.kidsField{
    left: 10px;
}

.questionTwo{
    font-family: 'Text Me One', sans-serif;
    font-size: 30px;
    position: relative;
    top: 25px;
}

.teensField{
    left: 6px;
}

.adultsField,.alertInfo, .alertParty, .guestMembersForm, .kidsField, .seniorsField, .teensField{
    position: relative;
}